## 팀별 실습

통신사 고객에 대한 서로 다른 정보를 가지고 있는 3개의 데이터가 주어집니다.

모든 데이터의 row는 한 손님에 대한 데이터를 의미하고, column은 각 손님들 개인의 속성을 포함합니다.

자, 이제 데이터 분석과 조작에 대한 실습을 진행해봅시다!
***

In [6]:
import pandas as pd
import numpy as np

In [102]:

charges = pd.read_csv('C:/Users/seonghun.han/Desktop/K-Soft/Day10/mobileCustomer/data/charges_data.csv')
personal = pd.read_csv('C:/Users/seonghun.han/Desktop/K-Soft/Day10/mobileCustomer/data/personal_data.csv')
plan = pd.read_csv('C:/Users/seonghun.han/Desktop/K-Soft/Day10/mobileCustomer/data/plan_data.csv')

In [8]:
charges.head()

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [9]:
personal.head()

   customerID  gender partner dependents  age
0  5575-GNVDE    Male      No         No   41
1  3668-QPYBK    Male      No         No   58
2  7795-CFOCW    Male      No         No   61
3  9237-HQITU  Female      No         No   66
4  9305-CDSKC  Female      No         No   87

In [10]:
plan.head()

,customerID,phoneService,multipleLines,internetService,onlineSecurity,onlineBackup,deviceProtection,techSupport,streamingTV,streamingMovies
0,5575-GNVDE,Yes,No,DSL,Yes,No,Yes,No,No,No
1,7795-CFOCW,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
2,9237-HQITU,Yes,No,Fiber optic,No,No,No,No,No,No
3,1452-KIOVK,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No
4,6713-OKOMC,No,No phone service,DSL,Yes,No,No,No,No,No

In [38]:
charges.isnull().sum()

# chipo_one_prod = charges.loc[charges.monthlyCharges == 1]
# len(chipo_one_prod)

customerID            0
tenure                0
contract              0
paperlessBilling      0
paymentMethod         0
monthlyCharges      455
totalCharges        455
churn                 0
dtype: int64

In [44]:
len(charges["monthlyCharges"])

7032

In [36]:
# monthlyCharges 1로 채

#len(pd.isnull(charges["monthlyCharges"]))
#len(pd.isnull(charges["totalCharges"]))
# condition = (pd.isnull(charges["monthlyCharges"])) 
# charge_filter_bynull = charges.loc[condition]
# charge_filter_bynull 
# charges['monthlyCharges'] = charges['monthlyCharges'].fillna(1)

#charges['monthlyCharges']

chipo_one_prod = charges.loc[charges.monthlyCharges == 1]
len(chipo_one_prod)

455

In [104]:
# monthlyCharges 널값 날리고 상하위 10퍼 날리고 평균값 구한거

# charges_monthly_filter_by_null = charges['monthlyCharges'].dropna()
# charges_monthly_filter_by_null.isnull().sum()

# charges_monthly_filter_by_null = charges_monthly_filter_by_null.sort_values(ascending = True)

charges_sort = charges.sort_values(by='monthlyCharges', ascending=True)
# charges_sort
charges_sort = charges_sort.dropna()



top_10percent = len(charges_sort) // 10

bottom_10percent = len(charges_sort) - top_10percent

#charges_sort["monthlyCharges"]
before_mean = charges_sort.iloc[top_10percent + 1:bottom_10percent] 
mean = int(before_mean["monthlyCharges"].mean())
print(mean)

after_mean_monthly = charges['monthlyCharges'].fillna(1)
after_mean_monthly

64

0        29.85
1        56.95
2        53.85
3        42.30
4        70.70
         ...
7027     84.80
7028      1.00
7029     29.60
7030     74.40
7031    105.65
Name: monthlyCharges, Length: 7032, dtype: float64

7032

### 데이터 Overview

압축파일로 묶여져 있는 csv_files.zip 의 각 데이터셋을 봅시다.


##### Charges dataset
`Charges` 데이터는 다음과 같은 변수를 가지고 있습니다

* *customerID* - 손님의 아이디
* *tenure* - 손님이 회사에 머문 개월 수
* *contract* - 손님의 계약 기간
* *paperlessBilling* - 손님이 종이 없는 청구서를 가지고 있는지 없는지 여부
* *paymentMethod* - 손님의 계산 방식
* *monthlyCharges* - 손님이 달달이 계산한 값
* *totalCharges* - 손님이 계산한 전체 값
* *churn* - 고객이 이탈(탈퇴) 했는지 아닌지
  

##### Personal dataset
`Personal` 데이터는 다음과 같은 변수를 가지고 있습니다

* *customerID* - 손님의 아이디
* *gender* - 손님의 성별
* *partner* - 손님의 결혼 여부
* *dependents* - 손님의 부양 가족 여부
* *age* - 손님의 나이


##### Plan dataset
`Plan` 데이터는 다음과 같은 변수를 가지고 있습니다

* *customerID* - 손님의 아이디
* *phonServices* - 폰 서비스 여부
* *multipleLines* - multipleLines 여부
* *internetService* - 손님의 인터넷 서비스 제공자
* *onlineSecurity* - 손님의 온라인 보안 여부
* *onlineBackup* - 손님의 온라인 백업 여부
* *deviceProtection* - 손님의 디바이스 보안 여부
* *techSupport* - 기술 지원 여부
* *streamingTv* - TV 스트리밍 서비스 여부
* *streamingMovies* - 영화 스트리밍 서비스 여부
* ***

### 문제 details

각 데이터를 처리하고 유효한 데이터값을 가져오기 위해 여러 함수들을 선언할 것입니다.

우선 `explanaroty_analysis()` 함수를 선언해 봅시다. 아래 내용은 `explanaroty_analysis()` 함수의 세부 내용입니다.

  1. argument로 charges_data_path, personal_data_path, plan_data_path를 가진다. 각 argument는 대치되는 데이터셋의 경로를 의미한다.
   
  2. 함수는 우선 세 데이터셋을 모두 읽어온다
   
  3. charges_data는 `MonthlyCharges`와 `totalCharges` column에서 빠진 값(null data)을 가진다.
      *  `MonthlyCharges` 에서 빠진 값들은, 빠지지 않은 값들 중 상하위 10%를 제외한 값들의 평균 값으로 채워 넣어라. 이 때, 평균의 소수점은 버림하여 정수로 만든다.
      *  이후, `totalCharges` 에서 빠진 값들은, `MonthlyCharges` 의 값과 `tenure` 값의 곱으로 채워넣어라

  4. `tenure` 열을 참고하여 다음과 같은 조건을 만족하는 `tenureBinned` column을 새로 만들어라
      *  `tenure`의 값이 각각 (0, 24], (24, 48], (48, 60],(60, Inf] 에 속할 때, `tenureBinned` 값은 각각 'group1','group2','group3','group4' 이 된다.
      *  ex) tenure의 값이 33 => tenureBinned 값은 group2 가 된다
  
  5. `churn rate`를 도출해내보자. `churn rate`는 전체 손님 중 탈퇴 손님의 비율을 나타낸다. `churn rate`는 비율의 퍼센트 값을 가지며, 퍼센트 값은 반올림으로 도출된다.
      * 예를 들어, 탈퇴 손님의 비율이 0.1234가 되면 `churn rate`는 12 가 되며, 0.4166 이 되면 반올림을 통해 `churn rate` 값은 42가 된다.
  
  6. 업데이트된 `charges_data`와 `personal_data`를 *customerID* column으로 Join해보자. 이때, 결과 데이터셋은 두 데이터셋이 공통적으로 가지고 있는 *customerID*의 row만을 가지고 있어야 한다. 이후, 그 결과 데이터셋과 `plan_data`를 *customerID* column으로 Join하되 이번에는 결과 데이터셋의 모든 row 값은 남겨야 한다.
   
  7. 6번에서 만들어진 데이터를 이용해서 60 세 이상인 손님의 비율을 계산해본다. (결과값은 위 `churn rate` 와 같은 방식으로 반환되어야 한다.)
   
  8. 6번에서 만들어진 데이터를 사용하여 `internetService` column에 고유한 값의 개수가 포함된 dictionary을 만듭니다. 여기서 키는 항목의 고유한 값과 해당 개수입니다.
|

#### return 값


`explanaroty_analysis()` 함수의 리턴값은 다음을 포함한 dictionary 입니다.

* *monthly_charges_analysis* - 3번 과정에서 `monthlyCharges` null 값을 채워넣은 평균값 (빠지지 않은 값들 중 상하위 10%를 제외한 값들의 평균 값)
* *charges_data_updated* - 1 ~ 5번 과정을 거치며 업데이트된 `charges_data`를 반영하는 dataframe
* *churn_pct* - 5번 과정을 진행하면 얻은 `churn rate`
* *data_merged* - 6번 과정에서 모든 Join을 마친 데이터셋을 반영하는 dataframe
* *pct_age_above_60* - 7번 과정에서 얻은 60세 이상인 손님의 비율
* *internet_service_counts* - 8번 과정에서 얻은 `internetService` column에 고유한 값의 개수가 포함된 dictionary

***
이제 문제를 풀어봅시다!

In [1]:
def explanaroty_analysis(charges_data_path, personal_data_path, plan_data_path):
    ################
    #코드 작성
    ################
    print(charges_data_path, personal_data_path, plan_data_path)
    return

In [2]:
explanaroty_analysis(charges_data_path='path/to/dir.csv', 
                    personal_data_path='path/to/dir.csv',
                    plan_data_path='path/to/dir.csv')

path/to/dir.csv path/to/dir.csv path/to/dir.csv